<mj-section>
  <mj-column>
    <mj-text align="center" font-size="12px" color="#9b9b9b">
      You are receiving this because you signed up for {{ app_name }}.
      <br/>
      <a href="{{ unsubscribe_url }}">Unsubscribe</a>
    </mj-text>
  </mj-column>
</mj-section>